In [1]:
import numpy as n
import pandas as pd

data = pd.read_csv(r'E:\S-4\CSOC\mobile price prediction\train_data.csv')
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [2]:
data.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [3]:
pd.isnull(data).sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [4]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics

In [5]:
y = data['price_range']
X = data.drop('price_range',axis =1)

In [6]:
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [7]:
best_features = SelectKBest(score_func = chi2, k = 10)
fit = best_features.fit(X,y)

In [8]:
fit.scores_

array([1.41298666e+04, 7.23232323e-01, 6.48365906e-01, 6.31010795e-01,
       1.01351665e+01, 1.52157239e+00, 8.98391244e+01, 7.45819631e-01,
       9.59728626e+01, 9.09755558e+00, 9.18605355e+00, 1.73635695e+04,
       9.81058675e+03, 9.31267519e+05, 9.61487832e+00, 1.64803191e+01,
       1.32364000e+01, 3.27642810e-01, 1.92842942e+00, 4.22090730e-01])

In [9]:
dfScores = pd.DataFrame(fit.scores_)
dfColumns = pd.DataFrame(X.columns)

In [10]:
featureScores = pd.concat([dfScores, dfColumns], axis = 1)

In [11]:
featureScores.columns = ['scores','features']

In [12]:
featureScores

           scores       features
0    14129.866576  battery_power
1        0.723232           blue
2        0.648366    clock_speed
3        0.631011       dual_sim
4       10.135166             fc
5        1.521572         four_g
6       89.839124     int_memory
7        0.745820          m_dep
8       95.972863      mobile_wt
9        9.097556        n_cores
10       9.186054             pc
11   17363.569536      px_height
12    9810.586750       px_width
13  931267.519053            ram
14       9.614878           sc_h
15      16.480319           sc_w
16      13.236400      talk_time
17       0.327643        three_g
18       1.928429   touch_screen
19       0.422091           wifi

In [13]:
features_used = featureScores.sort_values(by='scores', ascending = False)

In [14]:
features_used

           scores       features
13  931267.519053            ram
11   17363.569536      px_height
0    14129.866576  battery_power
12    9810.586750       px_width
8       95.972863      mobile_wt
6       89.839124     int_memory
15      16.480319           sc_w
16      13.236400      talk_time
4       10.135166             fc
14       9.614878           sc_h
10       9.186054             pc
9        9.097556        n_cores
18       1.928429   touch_screen
5        1.521572         four_g
7        0.745820          m_dep
1        0.723232           blue
2        0.648366    clock_speed
3        0.631011       dual_sim
19       0.422091           wifi
17       0.327643        three_g

In [15]:
features_used = features_used.head(10)

In [16]:
features_used.drop('scores',axis=1,inplace=True)

C:\Users\Asus\Anaconda3\lib\site-packages\pandas\core\frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
features_used = features_used.features.tolist()

In [25]:
X = X[features_used]

In [26]:
X.head()

,ram,px_height,battery_power,px_width,mobile_wt,int_memory,sc_w,talk_time,fc,sc_h
0,2549,20,842,756,188,7,7,19,1,9
1,2631,905,1021,1988,136,53,3,7,0,17
2,2603,1263,563,1716,145,41,2,9,2,11
3,2769,1216,615,1786,131,10,8,11,0,16
4,1411,1208,1821,1212,141,44,2,15,13,8

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 50)

In [28]:
classifier = svm.SVC(kernel = "poly")
classifier.fit(X_train, y_train)
pred = classifier.predict(X_test)

C:\Users\Asus\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [29]:
print("accuracy: ", metrics.accuracy_score(y_test,y_pred=pred))
print("Classification report: ",metrics.classification_report(y_test,pred))

accuracy:  0.96
Classification report:                precision    recall  f1-score   support

           0       0.98      0.99      0.99       155
           1       0.95      0.97      0.96       151
           2       0.94      0.93      0.93       149
           3       0.96      0.94      0.95       145

    accuracy                           0.96       600
   macro avg       0.96      0.96      0.96       600
weighted avg       0.96      0.96      0.96       600

Here, after applying feature selection, the accuracy remains the same 96%

In [21]:
import pickle

Index(['ram', 'px_height', 'battery_power', 'px_width', 'mobile_wt',
       'int_memory', 'sc_w', 'talk_time', 'fc', 'sc_h'],
      dtype='object')

In [22]:
pickle.dump(classifier, open('Mobile_Price_Prediction.pkl', 'wb'))

In [23]:
Mobile_Price_Prediction = pickle.load(open('Mobile_Price_Prediction.pkl', 'rb'))
#print(Mobile_Price_Prediction.predict([[42,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1]]))